*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #fff Sfondo header top e quarta sezione large */
/* #425b76  Sfondo header bottom*/
/* #7c98b6  Grigio chiaro frecce */
/* #cbd6e2 Grigio chiaro  */
/* #ff7a59  Arancione bottoni */
/* #f5f8fa  Sfondo seconda sezione Large */
/* linear-gradient(45deg,#00a4bd,#00bda5) Sfondo terza sezione Large */
/* #33475b Colore font e footer */
body{
    font-family: 'Roboto', sans-serif;
    color: #33475b;
}
.large{
    width: 100vw;
    padding: 20px 0;
}
.container{
    height: 100%;
    width: 57%;
    margin: auto;
    padding: 25px 0;
}
a{
    text-decoration: none;
}
.button-orange{
    text-align: center;
    padding: 20px;
    font-weight: 600;
    background-color: #ff7a59;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
.dropdown::after{
    content: "▼";
    color: #7c98b6;
    padding:0 5px;
}
.p-normal{
    font-weight: 300;
    margin:10px 0;
    font-size: 18px;
    line-height: 27px;
}
.p-small{
    font-weight:400;
    font-size: 15px;
    line-height: 25px;
    margin: 10px 0;
}

/******______________________ Stile Header ______________________******/
header{
    padding-top: 80px;
}
/******______________________ Fixed Bar ______________________******/
.fixed{
    width: 100%;
    height: 80px;
    background-color: #f5f8fa;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid #cbd6e2;
}
.fixed-wrapper{
    padding:10px 0;
}
.fixed-wrapper::after{
    content: "";
    display: table;
    clear:both;
}
.fixed-left{
    padding: 10px 0;
    height: 100%;
    width: 50%;
    float: left;
}
.fixed-left a{
    display: inline-block;
    height: 100%;
    font-size: 15px;
    color: #33475b;
}
.fa-globe-europe{
    padding-right: 10px;
}
#language{
    display: inline-block;
    height: 100%;
    border-right: 2px solid #cbd6e2;
}
#language a{
    padding: 8px 8px 8px 0;
}
#contact-sales{
    display: inline-block;
    height: 100%;
}
#contact-sales a{
    padding:8px;
}
.fixed-right{
    height: 100%;
    width: 50%;
    padding:10px 0;
    float: left;
    text-align: right;
}
.lens{
    padding-right: 15px;

}
.button-log-in{
    height: 100%;
    padding: 10px 25px;
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    margin:0 5px;
}
.fixed-right .button-orange{
    padding: 10px;
    margin-left: 5px;
}


/******______________________ Header Top ______________________******/
.top-wrapper::after{
    content: "";
    display: table;
    clear:both;
}
#top-left{
    height: 100%;
    float: left;
}
.logo{
    width: 106px;
    height: 30px;
}
#menu{
    height: 100%;
    padding: 15px 0;
    float: right;
    font-size: 15px;
    text-align: center;
}
#menu li{
    display: inline-block;
}
#menu a{
    display: inline-block;
    height: 100%;
    color: #33475b;
    font-weight: bold;
    padding: 0 15px;
}


/******______________________ Header Bottom ______________________******/
#header-bottom{
    background-color: #425b76;
    color: #f5f8fa;
}
#header-bottom p{
    font-weight: 300;
    font-size: 18px;
    padding:0 25px;
}
#header-bottom span{
    font-weight: bold;
    text-decoration: underline;
}

/******______________________ Stile Section One ______________________******/
#section-one{
    background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
    border-bottom: 3px solid #33475b;
    /* padding: 100px 0; */
}
.left-section{
    width: 40%;
    padding:60px 0;
}
.left-section h1{
    font-size: 50px;
    margin: 10px 0;
}
#button-and-description{
    width: 50%;
}
#button-and-description .button-orange{
    width: 100%;
    font-size: 16px;
    padding: 25px;
    margin: 10px 0;
}



/******______________________ Stile Section Two ______________________******/
#section-two{
    background-color: #f5f8fa;
}
#section-two .container{
    padding: 100px 0;
}
.middle-top::after, .middle-bottom::after{
    content:"";
    display: table;
    clear: both;
}
.floating-section{
    width: calc(33.3% - 10px);
    margin:5px;
    padding: 10px;
    float: left;
    border-radius: 3px;
}
.floating-section button{
    width: 100%;
    margin: 20px 0;
}
.top-one{
    padding: 10px 0;;
}
.top-one h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.get-started{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 5px lightgrey;
}
.get-started h1::before{
        content:"\f1ce";
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        font-size: 20px;
}
.get-started ul{
    font-size: 15px;
    list-style:none;
}
.get-started ul li{
    padding: 10px;
}
.get-started ul li::before{
        content:"✓";
        background-color:#ff7a59;
        color: white;
        font-size: 10px;
        font-weight: 400;
        padding: 5px;
        border-radius: 50%;
}





/******______________________ Stile Section Three ______________________******/
#section-three{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    color: white;
    text-align: center;
    padding-bottom: 180px;
}
.title-and-description{
    width: 60%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.title-and-description h1{
    font-size: 30px;
}
.title-and-description p{
    line-height: 30px;
}
.boxes::after{
    content: "";
    clear: both;
    display: table;
}
.box{
    display: inline-block;
    width: 25%;
    float: left;
    padding: 30px
}
.top-box{
    border-bottom: 2px solid white;
}
.right-border-box{
    border-right: 2px solid white;
}
.box-icon{
    font-size: 25px;
    margin-bottom: 10px;
}
.title-and-span h1{
    font-size: 45px;
    margin-bottom: 10px;
    position: relative;
}
.whith-plus::after{
    content: "+";
    display: inline-block;
    font-size: 16px;
    position:absolute;
    top:30%;
    font-weight: lighter;
}


/******______________________ Stile Section Four ______________________******/
#section-four{
    padding: 50px 0;
}
.four-top, .four-bottom{
    margin: 60px 0;
}
.four-top::after, .four-bottom::after, .logos::after{
    content: "";
    display: table;
    clear: both;
}
.four-top .left-top,.four-top .right-top, .four-bottom .left-bottom {
    display: inline-block;
    float: left;
    width: 50%;
}
.text-wrapper{
    width: 80%;
    padding-top: 30px;
}
.text-wrapper h1{
    font-size: 45px;
}
/* Loghi */
.logos{
    padding: 30px 0;
}
.logo-wrapper{
    float:left;
    width:25%;
    text-align: center;
}
.logo-wrapper img{
    padding: 20px 0;
    width:80%;
    margin: auto;
}
.left-bottom .text-wrapper h1{
    font-size: 40px;
}
.four-bottom .button-orange{
    width: 40%;
    font-size: 18px;
    margin-bottom: 20px;
}
/* Immagine  */
.four-bottom .right-bottom{
    width: 50%;
    float: left;
    text-align: right;
}
.right-bottom img{
    width: 60%;
}


/******______________________ Stile Footer______________________******/
footer{
    background-color:  #33475b;
    color: #cbd6e2;
}
footer .container{
    margin-top: 50px;
    padding: 30px 0;
}
.footer-top::after{
    content: "";
    display: table;
    clear: both;
}
.footer-links{
    float: left;
    width: 25%;
}
.footer-links h2{
    color: white;
    font-size: 20px;
}
.footer-links ul{
    list-style: none;
}
.footer-links li{
    padding: 10px 0;
    font-weight: 300;
}
